body{
    background-color: #242582;
    color: aliceblue;
    font-size: 10px;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    font-size: large;
}

#clock{
    font-size: 25px;
    background-color: #f64c72;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}